@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 스크롤바 스타일 (선택사항) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-rounded {
  scrollbar-color: #d1d5db transparent;
  /* gray-300 */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

.react-datepicker__navigation-icon::before {
  border-color: #000000;
  border-style: solid;
  border-width: 4px 4px 0 0;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 6px;
  width: 15px;
}