.user-body {
  font-family: 'SeoulHangang', sans-serif;
}

.btn {
  @apply px-4 py-2 bg-pink-500 text-white rounded hover:bg-pink-600;
}

.input {
  @apply w-full p-2 border border-gray-300 rounded;
}
