@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-4 py-2 bg-pink-500 text-white rounded hover:bg-pink-600;
}

.input {
  @apply w-full p-2 border border-gray-300 rounded;
}

.navList {
  position: relative;
}

.navList > ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(10px);
  max-width: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.navList:hover > ul {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
  max-width: 1000px;
  pointer-events: auto;
}

.navList > ul > li {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.navList > ul > li:hover {
  background-color: #f3f4f6;
}

@font-face {
  font-family: 'SeoulHangang';
  src: url('/fonts/hangang/SeoulHangangL.woff2') format('woff2');
  src: url('/fonts/hangang/SeoulHangangL.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'SeoulHangang';
  src: url('/fonts/hangang/SeoulHangangM.woff2') format('woff2');
  src: url('/fonts/hangang/SeoulHangangM.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'SeoulHangang';
  src: url('/fonts/hangang/SeoulHangangB.woff2') format('woff2');
  src: url('/fonts/hangang/SeoulHangangB.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'SeoulHangang';
  src: url('/fonts/hangang/SeoulHangangEB.woff2') format('woff2'),
       url('/fonts/hangang/SeoulHangangEB.woff') format('woff');
  font-weight: 800;
}